
@import "../node_modules/bootstrap/scss/bootstrap";

.p-5 {
  padding: 3rem !important;
}

.header {
  color: white;
}
.container-fluid {
  min-height: 250px;
}

.bg-light {
  position: relative;
  bottom: 0;
  width: 100%;
}

.green {
  color:green;
}
.red {
  color: red;
}


form.error .message {
  color: red;
}

form.error input {
  border: thick solid red;
}

form.success .message {
  color: green;
}

 ul:active {
  color: green;

}


