
@import "../node_modules/bootstrap/scss/bootstrap";

.p-5 {
  padding: 3rem !important;
}

.header {
  color: white;
}
.container-fluid {
  min-height: 250px;
}

.bg-light {
  position: relative;
  bottom: 0;
  width: 100%;
}

.green {
  color:green;
}
.red {
  color: red;
}





/*@mixin message {
  color: red;

    @if (message == correct) {
      $color: green;
    } @else {
      $color: red;
    }
  }
*/
